main{
    position: fixed;
    top: 67px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding-bottom: 150px;
}

main .header {
    position: sticky;
    left: 0;
    top: -1px;
    right: 0;
    height: 100px;
    background: #fff;
}

main .header h1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .posters {
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
}

main .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

main .loading p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
}
