.Movie{
    position: fixed;
    top: 67px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding-bottom: 150px;

}
.header {
    z-index: 1;
    position: sticky;
    left: 0;
    top: -1px;
    right: 0;
    height: 100px;
    background: #fff;
}

.Movie .header h1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.day {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 25px;
}

.day h1 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    color: #293845;
}

.day .showtimes{
    display: flex;
}
.day .showtimes .button{
    width: 83px;
    height: 43px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #E8833A;
    border-radius: 3px;
    border: none;
    margin-right: 10px;
    text-decoration: none;
}

.Movie .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.Movie .loading p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
}
